@import 'node_modules/normalize-scss/sass/normalize';
@include normalize();

html,
body {
	height: 100%;
}

.app {
	display: flex;
	height: 100%;
	overflow: hidden;
	width: 100%;
}

.canvas {
	align-items: center;
	background: #eee;
	cursor: pointer;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
}

.canvas__title {
	color: #ccc;
	font-size: 2em;
	margin: .5em 0;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;

	@media (min-width: 37.5em) {
		font-size: 4em;
	}
}

.canvas__instructions {
	color: #aaa;
	font-weight: 100;
	transition: 1s;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

.note {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}

.note__inner {
	position: absolute;
}

%note__piece {
	display: block;
	height: .5em;
	opacity: 0;
	position: absolute;
	width: .5em;
}

.note__piece--blue {
	@extend %note__piece;
	background-color: blue;
}

.note__piece--green {
	@extend %note__piece;
	background-color: green;
}

.note__piece--red {
	@extend %note__piece;
	background-color: red;
}

.note__piece--yellow {
	@extend %note__piece;
	background-color: yellow;
}

.note__piece--pink {
	@extend %note__piece;
	background-color: pink;
}

.note__piece--circle {
	border-radius: 100%;
}
